@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap");

$brand-color: yellow;

$title-font: 'Times New Roman', sans-serif;
$text-font: 'Lato', sans-serif;
$title-color: #fff;