@import url("https://fonts.googleapis.com/css?family=Lato:300i,400,700,800,900&display=swap");

@import'variables';
@import'normalize';
@import'mixins';
@import'slider';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    @include text($title-color,$text-font, 1.6rem, 400);
    background-color: orange;
    color: #000;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 96%;
}
/*__________________________________-HEADER-______________________________________*/
header {
    max-height: 880px;
    background-image: url(/img/main.png);
    @include bgCenter;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 120px;
    }
}

.menu {
    &__link {
    padding-left: 28px;
    @include text($title-color, $text-font, 1.4rem/3rem, 700);
    }
}

/* title */
.title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    &__text {
        @include text($title-color, $title-font, 3.6rem, 700);
        opacity: .7;
        font-style: italic;
        letter-spacing: 2px;
        margin: 26.5rem 0 0 0;
    }
    &__main {
        @include text($title-color, $text-font, 10rem, 700);
        letter-spacing: 5px;
        margin: 0;
    }
    &__btn {
        @include text($title-color, $text-font, 1.8rem, 700);
        border: 3px solid #fff;
        border-radius: 5px;
        width: 274px;
        margin-bottom: 34px;
        text-decoration: none;
    }
    &__subtitle {
        @include text($title-color, $text-font, 1.4rem, 400);
        margin-bottom: 240px;
    
        & a {
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        text-decoration: underline;
        padding-left: 8px;
        }
    }
}
// ____________________________________________F-I-R-S-T____S-E-C-T-I-O-N_____________________________________________
.about {
    min-height: 440px;
    background-color: #fff;
    &__items {
        display: flex;
        text-align: center;
        padding-top: 82px;
    }
    &__item {
        width: 364px;
        color: #000;
    }
    &__hamburger {
        background-image: url(/img/hamburger.png);
        margin: 18px auto;
        @include iconCenter;
    }
    &__money {
        background-image: url(/img/money.png);
        margin: 18px auto;
        @include iconCenter;
    }
    &__cheef {
        background-image: url(/img/cheef.png);
        margin: 18px auto;
        @include iconCenter;
    }
    .span-title {
        font-weight: bold;
        &::after{
            content: '';
            display: block;
            width: 17%;
            padding: 2px;
            border-bottom: 1px solid $brand-color;
            margin: 0 auto;
        }
    }
    p {
        font-weight: 300;
        padding-bottom: 90px;
    }
}
// ____________________________________________S-E-C-O-N-D____S-E-C-T-I-O-N___________________________________________
.app {
    min-height: 880px;
    background-color: #f7f7f7; 
    &__phone {
        background-image: url(/img/phone.png);
        height: 780px;
        width: 40%;
        margin-top: 17.7%;
        margin-right: 100px;
        float: left;
        // background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__about {
        padding-top: 25%;
        margin-left: 100px;
        .span-title {
            font-weight: bold;
            &::after{
                content: '';
                display: block;
                width: 6.5%;
                padding: 2px;
                border-bottom: 2px solid $brand-color;
                margin: 0 0 0 44%;
            }
        }
    }
    &__stores {
        height: 38px;
        margin-left: 43.5%;
        display: flex;
    }
    &__store {
        background-image: url(/img/Layer_3.png);
        height: 38px;
        width: 160px;
        background-repeat: no-repeat;
        cursor: pointer;
        &--google {
            background-image: url(/img/Layer_4.png);
            height: 38px;
            background-repeat: no-repeat;
            width: 100%;
            cursor: pointer;
        }
    }
}
// ____________________________________________T-H-I-R-D____S-E-C-T-I-O-N_____________________________________________
.view {
    min-height: 460px;
    background-image: url(/img/bg_vegetables.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
    background-color: #493949;
    color: rgba(255,255,255, .8);
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    line-height: 3.6rem;
    &__container {
        padding-top: 80px;
    }

    &__commentator {
        background: url(../img/commentator.jpg) no-repeat center;
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        margin: 0 auto;
        border: 4px solid #948b94;
    }

    blockquote, .span-title {
        opacity: .5;
        font-weight: 250;
    }

    blockquote {
        font-size: 3rem;
	    margin-bottom: 3rem;
    }

    .span-title {
        font-style: italic;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #948b94;
        margin: 0 auto;
    }

    p {
        width: 940px;
        margin: 0 auto;
        padding: 26px auto;
    }

    .span-title {
        width: 940px;
        margin: 0 auto;
        font-size: 1.7rem;
        &::before {
            content: " - ";
        }
        &::after {
            content: " - ";
        }
    }

    .slider {
        width: 150px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        &__dot {
            margin: 0 5px;
            list-style: none;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #948b94;
            @include hover {
                box-shadow: 0px 0px 5px 3px rgba(255,255,255,1);
            }
            &--this {
            background-color: #fff;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            margin: 0 5px;
            @include hover {
                box-shadow: 0px 0px 5px 3px rgb(0, 0, 0);
            }
            }
        }
    }
}



// ____________________________________________F-O-U-R-T-H____S-E-C-T-I-O-N__________________________________________
.cuisines {
    min-height: 794px;
    background-color: #fff;
    text-align: center;
    padding-top: 100px;
    .span-title {
        font-weight: bold;
            &::after{
                content: '';
                display: inline-block;
                width: 5%;
                padding-top: 2px;
                border-bottom: 2px solid $brand-color;
                margin: 0 0 0 48%;
            }
    }
    &__text {
        text-decoration: none;
        color: #fff;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        &--bold {
            display: block;
            font-weight: bold;
            font-family: 'Lato', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            font-size: 3.6rem;
            letter-spacing: 2px;
            line-height: 4rem;
        }
    }
    &__choise {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 444px;
        width: 100%;
        margin-top: 38px;
    }
    &__choise a {
        text-decoration: none;
        color: #fff;
        position: absolute;
        top: 50%;
        right: 25%;
        transform: translateY(-50%);
    }
    &__italian {
        background-image: url(/img/italian.png);
        // @include imgSize;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        position: relative;
    }
    &__indian  {
        background-image: url(/img/indian.png);
        // @include imgSize;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &__french {
        background-image: url(/img/french.png);
        // @include imgSize;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    &__steakhouse {
        background-image: url(/img/steakhouse.png);
        // @include imgSize;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    &__seafood {
        background-image: url(/img/seafood.png);
        // @include imgSize;
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    &__sushi {
        background-image: url(/img/sushi.png);
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        // @include imgSize;
    }
    &__mexican {
        background-image: url(/img/mexican.png);
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        // @include imgSize;
    }
    &__chinese {
        background-image: url(/img/chinese.png);
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        // @include imgSize;
    }
    &__pizza {
        background-image: url(/img/american.png);
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        // @include imgSize;
    }
    &__american {
        background-image: url(/img/pizza.png);
        grid-column: 5 / 6;
        grid-row: 2 / 3;
        // @include imgSize;
    }
}
// ____________________________________________F-O-O-T-E-R___________________________________________________________
footer {
    min-height: 92px;
    background-color: #f7f7f7;
}